# **Python 기초**

## 손풀기

파이썬을 시작하기에 앞서 간단하게 손을 풀어봅시다.

### 사칙연산
**덧셈**

In [ ]:
1 + 2

3

**뺄셈**

In [ ]:
100 - 22

78

**곱셈**

In [ ]:
123 * 456

56088

**나눗셈**

`/` 우리가 아는 일반적인 나누기입니다.

`//` 나눗셈의 몫만 구하는 연산자입니다.

In [ ]:
1000 / 3

333.3333333333333

In [ ]:
# 몫만
1000 // 3

333

**나머지**

`%` 연산자를 사용합니다.

In [ ]:
1000 % 3

1

### 출력하기
`print()` 함수를 이용합니다.

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
print(1)

1

In [ ]:
a = 1
print(a)

1

* `a`는 뒤에서 배울 변수(variable)입니다.

## **변수(Variable)**

**변수**는 **값을 저장하는 상자**입니다. 값을 넣고 다시 불러와 사용할 수 있습니다.

아래 코드를실행해보세요.

In [1]:
x = 3
name = "RDA"

print(x)
print(name)

3
RDA



* `x`는 변수의 **이름**이고, 3은 저장된 **값**입니다.
* `name`이라는 변수에는 "RDA"라는 문자열이 저장되어 있습니다.
* `=` 기호는 값을 변수에 **할당(assignment)**하는 역할을 합니다.

변수는 값을 덮어쓸 수 있습니다. 가장 최근에 할당한 값이 저장됩니다.

In [ ]:
x = 3
print(x)  # 3

x = 10
print(x)  # 10

3
10

변수는 숫자뿐 아니라 다양한 종류의 값을 저장할 수 있습니다.

In [ ]:
a = 3         # 정수
b = 3.14      # 실수
c = "hello"   # 문자열
flag = True   # 불(boolean)

In [ ]:
print(a, b, c, flag)

3 3.14 hello True

변수 이름은 다음 규칙을 지켜서 만들어야 합니다.
* 숫자로 시작 X (`0name`)
* 공백 X (`my name`) --> 공백표현은 언더바`_`를 이용하세요.
* 대소문자 구분(`Name`≠`name`)
* 예약어 X (`def`)


*예약어(Keywords)란?*

- 파이썬 언어 자체가 이미 사용하는 단어입니다.

- 예: `if`, `for`, `def`, `class`, `True`, `False`, `None`, `return`, ...

- 변수 이름으로 예약어를 사용하면 오류가 발생하거나 의도하지 않은 결과가 생길 수 있기 때문에 주의해야합니다.

코드에서 자주 보이는 단어가 아니라면 예약어일 가능성이 낮지만, 이름을 확인하고 싶다면 다음 코드를 사용하세요.

In [ ]:
# 예약어 확인 방법
import keyword
print(keyword.iskeyword('for'))    # True
print(keyword.iskeyword('my_name'))  # False

True
False

주의사항

❗colab에서는 **세션이 유지되는 동안 변수도 유지**됩니다.

❗세션을 종료되거나 다시 시작되면 변수가 사라지므로 변수 선언 코드를 다시 실행해야 합니다.

다음에서 다양한 종류의 값을 자세히 알아보겠습니다.

## **자료형(Data type)**

파이썬은 자료형을 자동으로 지정해주지만, 데이터와 변수를 잘 다루려면 자료형을 알아야 합니다.

* 자료형: 데이터(data)의 종류(type)
* 파이썬에서 자주 쓰는 자료형: 정수(integer), 실수(float), 문자열(string), 리스트(list), 튜플(tuple), 딕셔너리(dictionary), 집합(set), 불(bool)
* `type()` 함수로 자료형 확인

위에서 선언한 변수들의 자료형을 살펴봅시다.

In [ ]:
print(type(a),type(b),type(c),type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [ ]:
type(1)

int

In [ ]:
type('hello')

str

In [ ]:
type(['a','b','c',1,2,3])

list

### 숫자형

숫자를 나타내는 자료형에는 **정수(`int`)**, **실수(`float`)**, 복소수(`complex`)가 있습니다.

**int**`int`

`int`는 정수(integer)를 나타냅니다.

In [ ]:
type(123)

int

**float**`float`

`float`은 floating point number의 약자로  부동소수점수를 말합니다. 이 노트북에서는 편의상 실수로 생각하겠습니다.

In [ ]:
type(1.23)

float

파이썬에서는 정수와 실수 연산이 자유롭습니다.

In [ ]:
print(1 + 0.2) # 정수 + 실수
print(10 / 3) # 정수 / 정수 = 실수

1.2
3.3333333333333335

`float`은 실수(real number) 전체가 아닌 실수를 근사한 표현이기 때문에 부동소수점 오차가 발생할 수 있습니다.

In [ ]:
print(0.1+0.2)

0.30000000000000004

딥러닝 모델은 패턴 학습이고 반복 학습(epoch) 과정에서 오차가 보정되기 때문에 부동소수점 오차는 무시해도 될 정도로 미미합니다.

또한, 딥러닝 모델은 수백만 개의 연산을 수행하기 때문에 속도와 메모리 최적화가 중요하고, `float`은 GPU/TPU에서 빠르게 처리되는 기본 자료형이며, python에서 정밀하게 계산하는 방법은 느리고 비효율적입니다.

때문에 `float`을 사용합니다.

- 부동소수점 오차 없이 계산하는 방법은 [여기](https://colab.research.google.com/drive/1fEn3XjOGNjh3njX-w_Vuq14mGNZ2dkBo)를 클릭하세요.

  (금융 계산, 천문학 계산 등에서는 정밀한 계산 방법을 이용합니다.)

### 문자열(string)

문자열은 문자로 구성된 데이터를 말합니다. 작은따옴표`'`나 큰따옴표`"`로 표현됩니다.

In [ ]:
type('abc')

str

숫자도 `'1'`처럼 표현하면 문자열로 정의됩니다.

In [ ]:
type('1')

str

In [ ]:
print(1=='1') # `==`은 변수가 동일한지 비교해주는 연산자

False

### 리스트(list)

리스트는 여러 값을 순서대로 저장하는 자료형입니다.

대괄호 `[]`를 사용하여 생성하고, 숫자·문자 등 다양한 값을 함께 저장할 수 있습니다.

**파이썬에서 가장 특징적인 자료형**입니다.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print(fruits)         # apple
print(type(fruits))      # <class 'list'>

['apple', 'banana', 'cherry']
<class 'list'>

`list()` 내장함수를 사용해 만들 수도 있습니다.

In [ ]:
arr = list((1,2,3,4,5))
print(arr)
print(type(arr))

[1, 2, 3, 4, 5]
<class 'list'>

문자열을 리스트로 선언하면 어떻게 될까요?

In [ ]:
arr = list('hello')
print(arr)

['h', 'e', 'l', 'l', 'o']

파이썬은 다양한 자료형을 하나의 리스트 안에 저장할 수 있습니다.

In [ ]:
nums_and_fruits = [1, 2, 3, 'apple', 'banana', 'cherry']
print(nums_and_fruits)

[1, 2, 3, 'apple', 'banana', 'cherry']

리스트 안에 리스트도 넣을 수 있습니다.

In [ ]:
list_in_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(list_in_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#### **리스트 인덱싱**

파이썬의 리스트 각 원소의 인덱스 번호는 **0부터 시작**합니다.

대괄호`[인덱스번호]`를 사용하여 리스트의 원소를 불러올 수 있습니다.

In [ ]:
print(fruits)
print(fruits[1]) # banana

['apple', 'banana', 'cherry']
banana

인덱스를 음수로 표현하면 마지막부터 카운트됩니다.

In [ ]:
print(fruits[-1]) # cherry
print(arr[-1])
print(arr[-3])

cherry
5
3

리스트의 범위를 초과하는 인덱스는 오류가 발생합니다.

리스트의 길이는 `len()` 함수로 확인할 수 있습니다.

위에서 `[1,2,3,4,5]`를 저장한 `arr` 리스트를 활용하겠습니다.

In [ ]:
print(arr)

In [ ]:
len(arr)

5

In [ ]:
print(arr[6])

IndexError: list index out of range

In [ ]:
print(arr[-6])

#### **리스트 슬라이싱**

`:`를 사용하여 리스트의 일부분을 슬라이싱할 수 있습니다.
```
(시작 인덱스):(끝 인덱스)
```
(시작 인덱스)부터 (끝 인덱스-1)번째까지 슬라이싱됩니다.

위에서 `[1,2,3,4,5]`를 저장한 `arr` 리스트를 이용해서 슬라이싱을 알아봅시다.

In [ ]:
print(arr)

[1, 2, 3, 4, 5]

In [ ]:
print(arr[0:3])
print(arr[:3])
print(arr[3:])
print(arr[:])

[1, 2, 3]
[1, 2, 3]
[4, 5]
[1, 2, 3, 4, 5]

In [ ]:
print(arr[-1])
print(arr[-3:])
print(arr[:-1])
print(arr[-5])

5
[3, 4, 5]
[1, 2, 3, 4]
1

### 튜플(tuple)

튜플도 리스트처럼 여러 값을 순서대로 저장하지만, 한 번 정하면 바꿀 수 없습니다.

소괄호 `()`를 사용하며, 값을 고정하고 싶을 때 사용합니다.

In [ ]:
colors = ('red', 'green', 'blue')
print(colors)         # green
print(type(colors))      # <class 'tuple'>

('red', 'green', 'blue')
<class 'tuple'>

## **연산자**

파이썬에서 알아두면 좋은 연산자는 다음과 같습니다.


| 분류         | 대표 연산자                              | 설명                 |
| ---------- | ----------------------------------- | ------------------ |
| 산술 연산자 | `+`, `-`, `*`, `/`, `//`, `%`, `**` | 숫자 계산에 사용          |
| 비교 연산자 | `==`, `!=`, `>`, `<`, `>=`, `<=`    | 참/거짓 비교            |
| 논리 연산자 | `and`, `or`, `not`                  | 여러 조건을 조합          |
| 대입 연산자 | `=`, `+=`, `-=`, `*=`, `/=` 등       | 변수에 값 할당 및 누적      |
| 멤버 연산자 | `in`, `not in`                      | 리스트나 문자열에 포함 여부    |
| 식별 연산자 | `is`, `is not`                      | 같은 객체인지 확인 (주소 비교) |

## **print** `print`

```
print(출력값)
```
문자열 혹은 변수의 값 등을 출력합니다

* 문자열 출력

In [ ]:
print("Hello, world!")

Hello, world!